.toolbar{
  z-index: 1;
  font-weight: 600;
  justify-content: center;
}

.table{
  margin: 0 100px;
  background-color: blue;

}

.content-add{
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.button-add{
  box-shadow: 0 0 0 1.5px rgb(17, 109, 33);
  color: rgb(17, 109, 33);
  border-radius: 10px;
  width: 93px;
}

.button-add:hover{
  background-color: rgb(17, 109, 33);
  color: white;
}

.buton-action{
  margin-right: 20px;
}
